.container {
    position: absolute;
    top: 63px;
    left: 0;
    right: 0;
    height: flex;
    display: flex;
    align-items: center;
    background-color: #9400d3;
    color: white;
    font-weight: 600;
  }