<table class="table">
    <thead class="thead-dark">
      <tr align="center">
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Detail</th>
      </tr>
    </thead>
    
  </table>
  
  
  <!--
  <table class="table ">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
  
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let user of users'>
        <td scope="row">{{user.id}}</td>
        <td ><a [href]="user.id">{{user.first_name}} {{user.last_name}}</a></td>
      </tr>
      <tr *ngFor='let user of users2'>
        <td scope="row">{{user.id}}</td>
        <td ><a [href]="user.id">{{user.first_name}} {{user.last_name}}</a></td>
      </tr>
    </tbody>
  </table> -->


 